<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'views/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'views/student/student-sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content">
        <div class="container">

            <div class="block-header">
                <h2>Settings</h2>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'views/footer.html'"></footer>