<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'views/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'views/student/student-sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content" data-ng-controller="studentFeedbackController">
        <div class="container">

            <div class="block-header">
                <h2>Feedback</h2>
            </div>

            <div class="row">
                <div class="col-md-6"  ng-repeat="card in feedbackCards">
                    <div class="card">
                        <div class="card-header bgm-amber">
                            <div class="clearfix">
                                <h2> {{card.title}} <small>{{card.time_limit}} minutes</small></h2>
                            </div>
                            <button class="btn bgm-lightblue btn-float waves-effect"><i class="zmdi zmdi-cloud-download"></i></button>
                        </div>
                        <div class="card-body card-padding">
                            <h7>{{ card.description }}</h7>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'views/footer.html'"></footer>